html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	background: #E1D4C9;
	color: #403F3D;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
}

a {
	text-decoration: none;
	color: #403F3D;
	position: relative;
}

a:not(.promo__button, .download__btn, .header_logo, .footer__link, .header__button__active)::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	border: 1px solid #403F3D;
	transition: all 0.4s ease-in;
	opacity: 0;
}

a:hover::before {
	width: 100%;
	opacity: 1;
}

.container {
	width: 1440px;
	padding: 20px 40px 40px 40px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.header__menu {
	list-style: none;
	display: flex;
	gap: 40px;
}

.header__button {
	display: flex;
	align-items: start;
	gap: 8px;
	position: relative;
}

.header__button__active {
	padding-bottom: 2px;
	border-bottom: 2px solid #403F3D;
	pointer-events: none;
}

.section {
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.promo {
	background: url('../img/promo.jpeg') center / cover no-repeat;
	padding: 100px;
	border-radius: 40px;
}

.promo__description {
	width: 530px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.promo__title {
	font-size: 72px;
	font-weight: 600;
	line-height: 76px;
	letter-spacing: 0em;
	text-align: left;
	color: #E1D4C9;
}

.promo__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #E1D4C9;
}

.accent {
	font-style: italic;
	color: #B0907A;
	font-size: 72px;
	font-style: italic;
	font-weight: 600;
	line-height: 76px;
	letter-spacing: 0em;
	text-align: left;
}

.promo__button {
	width: 200px;
	height: 64px;
	padding: 20px, 78px, 20px, 78px;
	border-radius: 100px;
	background: #E1D4C9;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.promo__button>span {
	transform: translateX(12px);
	transition: transform 0.4s ease-in;
}

.promo__button__img {
	opacity: 0;
	transition: opacity 0.4s ease-in;
}

.promo__button:hover>span {
	transform: translateX(-2px);
}

.promo__button:hover>.promo__button__img {
	opacity: 1;
}

.favorite__title {
	text-align: center;
	font-size: 60px;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0em;
}

.favorite__title>span {
	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0em;
}

.favorite__slider {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.favorite__slider__prev {
	rotate: 180deg;
}

.slider__button {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	border: 1px solid #665F55;
	background: #E1D4C9;
	transition: background 0.4s ease-in;
}


.slider__button:hover .slider__btn {
	stroke: #E1D4C9;
}

.slider__button:hover {
	background: #665F55;
}

.favorite__slider__card {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider__item {
	width: 480px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.slider__item__img {
	max-width: 480px;
	max-height: 480px;
}

.slider__item__desc {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.slider__item__title {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
}

.slider__item__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
}

.slider__item__price {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
}

.favorite__slider__status {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.slider__status__item {
	height: 4px;
	width: 40px;
	border-radius: 100px;
	background-color: #C1B6AD;
}

.slider__status__item.active {
	background: #665F55;
}

.about__title {
	font-size: 60px;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0em;
	text-align: left;
}

.about__title>span {
	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0em;
}

.about__items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 430px 120px 430px;
	gap: 40px;
}

.about__item {
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about__item:hover .about__item__img {
	scale: 0.91;
}

.about__item__img {
	scale: 1;
	transition: scale 0.4s ease-in;
}

.about__item_1 {
	grid-row: 1 / 3;
}

.about__item_2 {
	grid-row: 3 / 4;
}

.about__item_3 {
	grid-row: 1 / 2;
}

.about__item_4 {
	grid-row: 2 / 4;
}

.download__items {
	display: flex;
	align-items: center;
}

.download__desc {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.download__title {
	font-size: 60px;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0em;
	text-align: left;
}

.download__title>span {
	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0em;
	text-align: left;
}

.download__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

.download__btns {
	display: flex;
	gap: 20px;
}

.download__btn {
	display: flex;
	gap: 8px;
	border: 1px solid #665F55;
	border-radius: 100px;
	padding: 12px 20px;
	width: 200px;
	transition: all 0.4s ease-in;
}

.download__btn:hover .download__btn__img {
	fill: #E1D4C9;
}

.download__btn:hover {
	background: #665F55;
	color: #E1D4C9
}

.download__btn__img {
	transition: all 0.4s ease-in;
}

.download__btn__desc p:nth-child(1) {
	font-size: 10px;
	font-weight: 600;
	line-height: 14px;
	letter-spacing: 0em;
	text-align: left;
}

.download__btn__desc p:nth-child(2) {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

.footer {
	background: #665F55;
	padding: 100px;
	border-radius: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__promo {
	display: flex;
	flex-direction: column;
	width: 530px;
	gap: 40px;
}

.footer__title {
	font-size: 60px;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0em;
	text-align: left;
	color: #E1D4C9;
}

.footer__title>span {
	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0em;
	text-align: left;
}

.footer__links {
	display: flex;
	gap: 12px;
}

.footer__link {
	width: 60px;
	height: 60px;
	border: 1px solid #E1D4C9;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease-in;
}

.link__svg {
	transition: all 0.4s ease-in;
}

.footer__link:hover .link__svg {
	stroke: #403F3D;
}

.footer__link:hover {
	background-color: #E1D4C9;
}

.footer__contacts {
	width: 530px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	color: #E1D4C9;
}

.contacts__title {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}

.contacts__menu {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contacts__item {
	display: flex;
	gap: 8px;
}

.contacts__item>a {
	color: #E1D4C9;
	display: flex;
	gap: 8px;
}

.contacts__item>a:hover::before {
	width: 100%;
	border-color: #E1D4C9;
	opacity: 1;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.menu__title {
	width: 800px;
	font-size: 60px;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0em;
	text-align: center;
}

.menu__title .accent {
	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: 0em;
}

.menu__types {
	display: flex;
	gap: 16px;
}

.types__item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: 1px solid #C1B6AD;
	border-radius: 100px;
	padding: 8px 16px 8px 8px;
	transition: all 0.4s ease-in;
}

.types__item:hover:not(.active) {
	background: #665F55;
	color: #E1D4C9;
}

.types__item:hover:not(.active) .item__icon {
	background: #E1D4C9;
}

.types__item.active {
	background: #665F55;
	color: #E1D4C9;
}

.types__item.active>.item__icon {
	background: #E1D4C9;
}

.item__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background: #C1B6AD;
	border-radius: 50%;
	transition: all 0.4s ease-in;
}

.item__text {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

.grid__types {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	margin-bottom: 100px;
}

.grid__item {
	border: 1px solid #C1B6AD;
	border-radius: 40px;
}

.grid__item__img {
	width: 310px;
	height: 310px;
	border-radius: 40px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid__item__img>img {
	transition: all 0.4s ease-in;
}

.grid__item__img:hover.grid__item__img>img {
	scale: 0.91;
}

.grid__item__desc {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 20px;
}

.item__desc__title {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}

.item__desc__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

.item__desc__price {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}
